<div class="parallax-container" id="dashboard">
  <h1 class="header">TinyPosts</h1>
  <div class="parallax"><img src="https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?q=80&fm=jpg&s=9c69296a682f2821ffedf583276c065d" alt=""></div>
</div>
<div class="section white container">
  <div class="col s10 m8 offset-m2 l6 offset-l3">
     <div class="card-panel grey lighten-5 z-depth-1" id="user-profile">
       <div class="row valign-wrapper">
         <div class="col s2" id="user-image">
           <%= image_tag @twitter_client.profile_image, class: "circle responsive-img" %>
         </div>
         <div class="col s8">
           <div class="black-text">
             <h4 id="user-name"><%= current_user.name %></h4>
             <h5 id="user-screen_name">@<%= current_user.screen_name %></h5>
             <p id="user-followers">Followers: <%= @twitter_client.followers %></p>
             <p id="user-friends">Following: <%= @twitter_client.friends %></p>
           </div>
         </div>
       </div>
     </div>
     <div class="timeline">
       <ul>
       <% @twitter_client.home_timeline.each do |status| %>
         <div class="card-panel grey lighten-5 z-depth-1">
           <div class="row valign-wrapper">
             <span class="glyphicon glyphicon-star-empty col s2"><%= link_to "Favorite", "#" %></span>
             <li class="tweet col s8"><strong>@<%= status.user.screen_name %> wants you to know:</strong> <%= status.text %></li>
           </div>
         </div>
       <% end %>
       </ul>
     </div>
   </div>
</div>