<div class="parallax-container" id="dashboard">
  <h1 class="header">TinyPosts</h1>
  <div class="parallax"><img src="https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?q=80&fm=jpg&s=9c69296a682f2821ffedf583276c065d" alt=""></div>
</div>
<div class="section white container">
  <div class="col s10 m8 offset-m2 l6 offset-l3">
     <div class="card-panel grey lighten-5 z-depth-1">
       <div class="row valign-wrapper">
         <div class="col s2">
           <img src= "<%= "#{current_user.name}" %>" alt="" class="circle responsive-img">
         </div>
         <div class="col s8">
           <span class="black-text">
             Name: <h5><%= current_user.name %></h5>
             Screen Name:<h5><%= current_user.screen_name %></h5>
             <%= current_user.twitter_timeline.first.full_text %>
             Followers: <%= current_user.twitter_followers %>
           </span>
         </div>
       </div>
     </div>
   </div>
</div>